In [1]:
import itertools
import os
import string
from pathlib import Path

import numpy as np
import pandas as pd
import torch

from Bio import SeqIO

import pandas as pd

from utils.file import save_np, read_json2list
import params.PDBparser as paramsPDB

Aim
------------------
---
1. set max-identity=30%
2. check the overlapped sequences between IDR30 and CAID (955 from IDR30, 278 from CAID_348)
3. There are only 348 sequences available in CAID dataset, therefore, we deduct sequences from IDR dataset instead of CAID.

In [4]:
df_CAIDvsIDR = pd.read_csv(os.path.join(paramsPDB.path_CAIDvsIDR, 'alnRes30.m8'), sep='\t', header=None)
df_CAIDvsDisprot = pd.read_csv(os.path.join(paramsPDB.path_CAIDvsDisprot, 'alnRes30.m8'), sep='\t', header=None)

print(f'Number of IDR_missing sequences: {df_CAIDvsIDR.shape[0]}')
print(f'Number of Disprot_100 sequences: {df_CAIDvsDisprot.shape[0]}') # Disprot fully disordered sequences

Number of IDR_missing sequences: 955
Number of Disprot_100 sequences: 23

In [5]:
len(df_CAIDvsIDR.iloc[:, 0].unique()), len(df_CAIDvsDisprot.iloc[:, 0].unique())

(278, 10)

In [9]:
df_CAIDvsIDR

,0,1,2,3,4,5,6,7,8,9,10,11
0,DP03639,6IGF_1,0.781,502,109,0,1,502,27,526,2.473000e-268,848
1,DP02627,7PTB_1,1.000,350,0,0,1743,2092,3,352,7.825000e-201,698
2,DP02627,6FVI_1,1.000,147,0,0,2256,2402,5,151,2.794000e-84,312
3,DP02627,4N7Z_2,1.000,58,0,0,201,258,1,58,2.098000e-27,123
4,DP03730,5Y86_1,0.416,358,204,0,137,494,187,537,3.749000e-71,265
...,...,...,...,...,...,...,...,...,...,...,...,...
950,DP02567,2FJ0_1,0.306,318,212,0,2223,2528,28,345,1.405000e-25,117
951,DP02567,6O0F_1,0.319,139,91,0,31,165,107,245,1.624000e-14,81
952,DP02567,5A2G_1,0.317,208,135,0,2219,2417,22,229,1.299000e-12,74
953,DP03120,5ITZ_3,0.982,114,2,0,309,422,16,129,3.541000e-54,211
954,DP03120,4BY2_1,0.452,188,100,0,1154,1337,61,248,6.676000e-42,170

In [10]:
list_caid =  list(df_CAIDvsIDR[1]) + list(df_CAIDvsDisprot[1])

## Exclude sequences from the PDB_missing & Disprot_FD

In [ ]:
list_caid =  list(df_CAIDvsIDR[1]) + list(df_CAIDvsDisprot[1])

In [12]:
list_entityDataset = read_json2list(paramsPDB.path_IDRdataset_100)
df_entityDataset = pd.DataFrame(list_entityDataset)

In [17]:
df_entityDataset.loc[df_entityDataset['id'].isin()]

,id,sequence,reference,fold,clstr_id
0,120L_1,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSAKSEL...,0000000000000000000000000000000000000000000000...,4,7DDZ_1
1,13PK_1,EKKSINECDLKGKKVLIRVDFNVPVKNGKITNDYRIRSALPTLKKV...,0000000000000000000000000000000000000000000000...,1,1LTK_1